<google-map center="{ lat: 45, lng: 5 }" items="mainIndex.filtered" stories="mainIndex.stories"></google-map>

<section class="column">
  <div class="mainSearch">
    <section ng-class="{'active': isActive}" class="filter-bar columns is-fullwidth">

      <div ng-class="{'active': isActive}" class="search-item field is-narrow column is-one-quarter">
        <div class="control">
          <input class="input" type="text" placeholder="Search..." ng-model="mainIndex.nameSearch">
        </div>
      </div>

      <div ng-class="{'active': isActive}" class="search-item field is-narrow column is-one-quarter">
        <div class="control">
          <div class="select is-fullwidth">
            <select ng-model="mainIndex.countrySearch" ng-options="country as country for country in mainIndex.countries">
              <option value="" selected>Country</option>
            </select>
          </div>
        </div>
      </div>

      <div ng-class="{'active': isActive}" class="search-item field is-narrow column is-one-quarter">
        <div class="control">
          <div class="select is-fullwidth">
            <select ng-model="mainIndex.categorySearch" ng-options="category as category for category in mainIndex.categories">
              <option value="" selected>Category</option>
            </select>
          </div>
        </div>
      </div>

      <div ng-class="{'active': isActive}" class="search-item field is-narrow column is-one-quarter">
        <div class="control">
          <div class="select is-fullwidth">
            <select ng-model="mainIndex.contentSearch">
              <option value="" selected>Content</option>
              <option value="places">Places</option>
              <option value="stories">Stories</option>
            </select>
          </div>
        </div>
      </div>
    </section>
    <button class="button is-fullwidth"  ng-click="activeButton()" type="button">Search</button>
  </div>

  <div class="columns is-multiline">
    <div ng-repeat="item in mainIndex.filtered | orderBy:'name'" class="column is-one-third">
      <card item="item" ng-class="{ selected: main.cardIsActive(item.id) }"></card>
    </div>
  </div>
</section>
