<google-map center="{ lat: 45, lng: 5 }" places="placesIndex.all"></google-map>

<section class="column" ng-controller="MainIndexCtrl as mainIndex">

  <section class="filter-bar">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Search by Country</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="select is-fullwidth">
              <select ng-model="mainIndex.countrySearch" ng-options="country as country for country in mainIndex.countries">
                <option value="" selected>Anywhere</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field-label is-normal">
          <label class="label">Search by Category</label>
        </div>
        <div class="field is-narrow">
          <div class="control">
            <div class="select is-fullwidth">
              <select ng-model="mainIndex.categorySearch" ng-options="category as category for category in mainIndex.categories">
                <option value="" selected>Anything</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field-label is-normal">
        </div>
        <div class="field is-narrow">
          <div class="control">
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="columns is-multiline">
    <div ng-repeat="place in mainIndex.filtered" class="column is-one-third">
      <div class="card" id="{{ place.id }}">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ place.image }}" alt="{{ place.name }}">
          </figure>
        </div>
        <div class="card-content">

          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{ place.flag }}" alt="">
              </figure>
            </div>

            <div class="media-content">
              <a ui-sref="placesShow({ id: place.id })">
                <h2 class="title is-4">{{ place.name }}</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
