<google-map center="{ lat: 45, lng: 5 }" places="placesIndex.all"></google-map>
<section class="column" ng-controller="MainIndexCtrl as mainIndex">
  <div class="columns is-multiline">
    <div ng-repeat="place in mainIndex.all" class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ place.image }}" alt="{{ place.name }}">
          </figure>
        </div>
        <div class="card-content">
          <div class="media-content">
            <a ui-sref="placesShow({ id: place.id })">
              <h2 class="title is-4">{{ place.name }}</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <div ng-controller="MainIndexCtrl as mainIndex">
  <div ng-repeat="item in mainIndex.all">
    Story: {{ item }}
  </div>
</div> -->
