<div class="form">
  <form name="placesNew.form" ng-submit="placesNew.create()" novalidate>

    <div class="field">
      <label class="label">Name</label>
      <input class="input" type="text" name="name" ng-model="placesNew.place.name" placeholder="name" required>
      <div class="form-validation"  ng-messages="placesNew.form.name.$error" role="alert" ng-show="(placesNew.form.$submitted || placesNew.form.name.$touched) && placesNew.form.name.$invalid">
        <div ng-message="required">Please enter a value for this field.</div>
      </div>
    </div>

    <div class="field">
      <label class="label">Address</label>
      <input autocomplete class="input" type="text" name="address" ng-model="placesNew.place.address" placeholder="address" lat="placesNew.place.lat" lng="placesNew.place.lng">
      <div class="form-validation"  ng-messages="placesNew.form.address.$error" role="alert" ng-show="(placesNew.form.$submitted || placesNew.form.address.$touched) && placesNew.form.address.$invalid">
        <div ng-message="required">Please enter a value for this field.</div>
      </div>
    </div>

    <div class="field latlng">
      <input class="input" type="text"  data-method="ctrlFn"  name="lat" ng-model="placesNew.place.lat" placeholder="Latitude" ng-required="(placesNew.place.address || placesNew.place.lat && placesNew.place.lng)" required disabled>
      <input class="input" type="text" name="lng" ng-model="placesNew.place.lng" placeholder="Longitude" ng-required="(placesNew.place.address || placesNew.place.lat && placesNew.place.lng)" required disabled>

      <div class="form-validation"  ng-messages="placesNew.form.lat.$error" role="alert" ng-show="(placesNew.form.$submitted || placesNew.form.lat.$touched) && placesNew.form.lat.$invalid">
        <div ng-message="required">Please enter a latitude or longitude</div>
      </div>
      <div class="form-validation"  ng-messages="placesNew.form.lng.$error" role="alert" ng-show="(placesNew.form.$submitted || placesNew.form.lng.$touched) && placesNew.form.lng.$invalid">
        <div ng-message="required">Please enter a latitude or longitude</div>
      </div>
    </div>

    <p>Click and drag the bemo icon to find to show us your places location.</p>
    <map-drag center="placesNew.center" address="placesNew.place.address"></map-drag>

    <div class="field">
      <label class="label">Description</label>
      <textarea class="textarea" type="text" name="description" ng-model="placesNew.place.description" placeholder="description" rows="5" required></textarea>
      <div class="form-validation"  ng-messages="placesNew.form.description.$error" role="alert" ng-show="(placesNew.form.$submitted || placesNew.form.description.$touched) && placesNew.form.description.$invalid">
        <div ng-message="required">Please enter a value for this field.</div>
      </div>
    </div>

    <div class="select">
      <select class="select"  type="text" name="category" ng-model="placesNew.place.category" placeholder="category">
        <label class="label">Category</label>
        <option value="Sports">Sports</option>
        <option value="Nightlife">Nightlife</option>
        <option value="Outdoors">Nature</option>
        <option value="Outdoors">Culture</option>
      </select>
    </div>

    <div class="field">
      <label class="label">Image</label>
      <input class="input" base64 type="file" name="base64" id="image" ng-model="placesNew.place.base64" placeholder="image" required>
      <div class="form-validation"  ng-messages="placesNew.form.image.$error" role="alert" ng-show="(placesNew.form.$submitted || placesNew.form.image.$touched) && placesNew.form.image.$invalid">
        <div ng-message="required">Please enter a value for this field.</div>
      </div>
    </div>

    <label class="label">Rating</label>
    <div class="select">
      <select type="text" name="rating" ng-model="placesNew.place.rating" placeholder="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <button class="button is-primary">Create Place</button>

  </form>
</div>

<!-- Add instructions for map marker drag and drop -->
