<section class="hero is-primary is-medium" style="background-image: url('{{placesShow.place.image}}'); background-size: cover; background-position: center">
     <div class="hero-body">
       <div class="container has-text-centered">
         <h1 class="title is-2">
           {{ placesShow.place.name }}
         </h1>
       </div>
     </div>
   </section>


   <section class="section blog">
     <div class="container">
       <div class="columns is-mobile">
         <div class="column is-8 is-offset-2">

           <a ui-sref="usersShow({ id: placesShow.place.createdBy.id })"><strong>Created by: {{ placesShow.place.createdBy.username }}</strong></a>


           <div class="content blog-post section">
             <p>{{ placesShow.place.description }}</p>
           </div>
           <!-- <div ng-if="main.isAuthenticated() && main.user.id === placesShow.place.createdBy"> -->
            <a class="button is-primary" ui-sref="placesEdit({ id: placesShow.place.id })">Edit</a>
            <button class="button is-danger" ng-click="placesShow.delete()">Delete {{ placesShow.place.name }}</button>
           <!-- </div> -->
         </div>
       </div>
     </div>
   </section>
