<section class="hero is-primary is-medium" style="background-image: url('{{placesShow.place.imageSRC}}'); background-size: cover; background-position: center">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2">
        {{ placesShow.place.name }}
      </h1>
    </div>
  </div>
</section>
<section class="section blog">


    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Created by <a ui-sref="usersShow({ id: placesShow.place.createdBy.id })">{{ placesShow.place.createdBy.username }}</p></a>
        <a ui-sref="usersShow({ id: placesShow.place.createdBy.id })">
          <p class="title"><img class="blog-thumbnail" src="{{ placesShow.place.createdBy.imageSRC }}" alt="{{ item.createdBy.username }}"></p>
        </a>
      </div>
    </div>


      <div class="container">
        <div class="columns is-mobile">
          <div class="column is-11">
            <div class="content blog-post section">
              <blockquote> <p>{{ placesShow.place.description }}</p></blockquote>
            </div>
            <p class="heading"> {{ placesShow.place.name }} location:</p>
            <div class="column is-12">
              <google-map center="{ lat: 45, lng: 5 }" item="placesShow.place"></google-map>
            </div>
          </div>

        </div>
        <div class="columns is-12 is-multiline">
          <div class="column is-12">
            <center><div ng-if="main.isAuthenticated() && main.user.id === placesShow.place.createdBy.id">
              <a class="button is-primary" ui-sref="placesEdit({ id: placesShow.place.id })">Edit</a>
              <button class="button is-danger" ng-click="placesShow.delete()">Delete {{ storiesShow.story.name }}</button>
            </div></center>
          </div>
        </div>
      </div>
    </section>
