<h1>Edit page</h1>
<form name="storiesEdit.form" ng-submit="storiesEdit.update()">
  <input type="text" name="name" ng-model="storiesEdit.story.name" storyholder="name">
  <input type="text" name="text" ng-model="storiesEdit.story.text" storyholder="text">
  <!-- <input type="text" name="places" ng-model="storiesEdit.story.places" storyholder="category"> -->
  <input type="text" name="image" ng-model="storiesEdit.story.image" storyholder="image">
  <!-- <input type="createdBy" name="createdBy" ng-model="storiesEdit.story.createdBy" storyholder="createdBy"> -->
  <button>Create Place</button>
</form>
