<h1>new story page</h1>

<form name="storiesNew.form" ng-submit="storiesNew.create()">
  <input type="text" name="name" ng-model="storiesNew.story.name" storyholder="name" placeholder="name">
  <input type="text" name="text" ng-model="storiesNew.story.text" storyholder="text" placeholder="text">
  <!-- <input type="text" name="places" ng-model="storiesNew.story.places" storyholder="category"> -->
  <input type="text" name="image" ng-model="storiesNew.story.image" storyholder="image" placeholder="image">
  <input type="createdBy" name="createdBy" ng-model="storiesNew.story.createdBy" storyholder="createdBy" placeholder="{{ storiesNew.user.username }}" value="{{ storiesNew.user.username }}">
  <button>Create Place</button>
</form>
