<section class="hero is-medium" style="background-image: url('{{profileShow.profile.coverPicture}}'); background-size: cover">

  <div class="hero-body">
    <div class="profile-media has-text-centered">
    </div>
  </div>

  <div class="hero-foot">
    <div class="profile-media has-text-centered">
      <img class="profile-img" src="{{ profileShow.profile.imageSRC }}" alt="">
      <div class="container has-text-centered">

        <h1 class="title is-3">
          {{ profileShow.profile.username }}
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">{{ usersShow.profile.username }} stories created</p>
        <p class="title">{{ profileShow.profile.stories.length }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>

      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Places created</p>
        <p class="title">{{ profileShow.profile.places.length }}</p>
      </div>
    </div>
  </nav>
  <div class="columns user-columns">
    <div class="column is-half">
      <h1>Stories</h1><br>
      <div class="user-stories data" ng-repeat="story in profileShow.profile.stories">
        <a ui-sref="storiesShow({ id: story.id })">
          <article class="media related-card">
            <div class="media-left">
              <figure class="image">
                <img src="{{ story.imageSRC }}" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <strong class="title is-4">{{ story.name }}</strong><br>
            </div>
          </article>
        </a>
      </div>
    </div>

    <div class="column">
      <h1>Places</h1><br>
      <div class="user-places data no-overflow" ng-repeat="place in profileShow.profile.places">
        <a ui-sref="placesShow({ id: place.id })">
          <article class="media related-card">
            <div class="media-left">
              <figure class="image">
                <img src="{{ place.imageSRC }}" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <strong class="title is-4">{{ place.name }}</strong><br>
            </div>
          </article>
        </a>
      </div>
    </div>
  </div>
  <section>
    <google-map center="{ lat: 45, lng: 5 }" items="profileShow.items"></google-map>
  </section>
</section>

<!-- delete button -->
<!-- add edit button -->
