<section class="hero is-medium" style="background-image: url('{{main.user.coverPicture}}'); background-size: cover">

  <div class="hero-body">
    <div class="profile-media has-text-centered">
    </div>
  </div>

  <div class="hero-foot">
    <div class="profile-media has-text-centered">
      <img class="profile-img" src="{{ main.user.image }}" alt="">
      <div class="container has-text-centered">
        <h1 class="title is-3">
          {{ main.user.username }}
        </h1>
      </div>
    </div>
  </div>
</section>


<section class="blog">
  <div class="columns">
    <div class="column is-half">
      <h1>Stories</h1><br>
      <div class="user-stories data" ng-repeat="story in userShow.user.stories">
        <article class="media related-card">
          <div class="media-left">
            <figure class="image">
              <img src="{{ story.image }}" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <strong class="title is-4">{{ story.name }}</strong><br>
          </div>
          <div class="media-right">
            <button class="delete"></button>
          </div>
        </article>
      </div>

    </div>



    <div class="column">
      <h1>Places</h1><br>
      <div class="user-places data" ng-repeat="place in userShow.user.places">
        <article class="media related-card">
          <div class="media-left">
            <figure class="image">
              <img src="{{ place.image }}" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <strong class="title is-4">{{ place.name }}</strong><br>
          </div>
          <div class="media-right">
            <button class="delete"></button>
          </div>
        </article>
      </div>
    </div>

  </div>
</section>
