.navbar{
  background-color: #23395b;
  a {
    color: #8ea8c3;
  }
  .button {
    background-color: #23395b;
    color: #8ea8c3;
  }
}

.navbar-menu{
  background-color: #23395b;
  a {
    color: #8ea8c3;
  }
}

.nav-right{
  padding: 10px 0;
}

.top-logo-parent:hover .top-logo-1 {
  display: none;
}

.top-logo-2 {
  display: none;
}

.top-logo-parent:hover .top-logo-2 {
  display: inline;
}
