.mainSearch{
  width: 100%;
  margin-bottom: 10px;
}

.filter-bar {
  background-color: rgba(255, 255, 255, 0.7);
  transition-property: height;
  transition-duration:0.5s;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.5s;
  height:0px;
}

.filter-bar.active {
  height:60px;
}
.search-item{
  transition-property: opacity;
  transition-duration:0.4s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.4s;
  opacity: 0;
}

.search-item.active{
  opacity: 1;
}

.columns:not(:last-child) {
  margin-bottom: 0;
}
