// Import all of your scss files here
body {
  background-color: #406e8e;
}

aside {
  position: fixed;
  z-index: 1;
  background-color: white;
  opacity: 0.9;
  padding: 20px;
  margin: 10px;
  border-radius: 3%;
  right: 0;
  &.hidden {
    right: -50%;
  }
}

h1 {
  color: #8ea8c3;
}

.navbar {
  background-color: #23395b;
  a {
    color: #8ea8c3;
  }
}

.card {
  border: 1px solid #23395b;
  border-radius: 2px;
  background-color: #8ea8c3;
}

.google-map {
  height: 60vh;
  width: 100%;
  display: block;
}
