// Import all of your scss files here
@import 'search';
@import 'story';

body {
  background-color: #406e8e;
  height: 100%;
}

aside {
  position: fixed;
  z-index: 1;
  background-color: white;
  opacity: 0.9;
  padding: 20px;
  margin: 10px;
  border-radius: 3%;
  right: 0;
  transition: 1s;
  &.hidden {
    right: -100%;
  }
}

h1 {
  color: #8ea8c3;
}

.splash-container {
  height: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  .noDisplay {
    display: none;
    overflow: hidden;
  }
  .splash {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    background-color: rgba(50,50,50,0.6);
    border-radius: 2%;
    h1 {
      font-size: 3em;
      color: beige;
    }
    p {
      color: white;
      background-color: rgba(50,50,50,0.6);
    }
  }
}


.navbar {
  background-color: #23395b;
  a {
    color: #8ea8c3;
  }
}

.card {
  border: 1px solid #23395b;
  border-radius: 2px;
  background-color: #8ea8c3;
}

.google-map {
  height: 60vh;
  width: 100%;
  display: block;
}


.blog{
  background-color: #ffffff;
  width: 80%;
  margin: 10px auto;
  padding: 150px 20px;
}

.form {
  background-color: #ffffff;
  width: 50%;
  margin: 10px auto;
  padding: 20px;
  .input{
    margin: 10px auto;
  }
}

.latlng{
  display: flex;
}

.latlng .input{
  width: 50%;
}

.profile-img{
  border-radius: 50%;
}

.profile-media{
  max-width: 100%;
  margin-bottom: -150px;
  .profile-img{
    border: 10px solid #406e8e;
    max-width: 250px;
  }
}

.data{
  padding: 10px;
  margin-top: 10px;
  height: 100px;
  border-bottom: 1px solid lightGrey;
  .image{
    width: 120px;
  }
}

.data:hover{
  background-color: #F9F9F9;
}

.login{
  display: flex;
  .lgn {
      margin-left: 10px;
  }
}
.nav-right{
  padding: 10px 0;
}

.btn{
  margin: 0 5px;
}

.createdBy-thumbnail {
    height: auto;
    width: auto;
    max-width: 90px;
    background-size: contain;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    left: 46px;
    top: 40px;
}

.route-button {
  top: 10px;
}

.place-viewer {
  height: 62vh;
  overflow: scroll;
}

.add{
  font-size: 20px;
  line-height: 18px
}


.card {
  margin: 5px 0;
}

.no-overflow {
  overflow: hidden;
}

.select-place{

  height: 100px;
  overflow: hidden;
  border: 1px solid lightGrey;
}
