<div class="card" id="{{ item.id }}">

  <!-- Image and link if place -->
  <a ng-if="item.lat" ui-sref="placesShow({ id: item.id })">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{ item.imageSRC }}" alt="{{ item.name }}">
      </figure>
    </div>
  </a>

  <!-- Image and link if story -->
  <a ng-if="!item.lat" ui-sref="storiesShow({ id: item.id })">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{ item.imageSRC }}" alt="{{ item.name }}">
      </figure>
    </div>
  </a>

  <div class="card-content" ng-class="{'story-card' : !item.lat}">

    <div class="media">
      <div class="media-left" ng-if="item.flag">
        <figure class="image is-48x48">
          <img src="{{ item.flag }}" alt="{{ item.name }} flag">
        </figure>
      </div>

      <!-- Name and link if place -->
      <div class="media-content">
        <a ng-if="item.lat" ui-sref="placesShow({ id: item.id })">
          <h2 class="title is-4">{{ item.name }}</h2>
        </a>
        <!-- Name and link if story -->
        <a ng-if="!item.lat" ui-sref="storiesShow({ id: item.id })">
          <h2 class="title is-4">{{ item.name }}</h2>
        </a>
      </div>
      <a ui-sref="usersShow({ id: item.createdBy.id })">
        <img class="createdBy-thumbnail" src="{{ item.createdBy.imageSRC }}" alt="{{ item.createdBy.username }}">
      </a>
    </div>


  </div>
</div>

<!-- Add created by : User -->
