<div class="card" id="{{ item.id }}">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{ item.image }}" alt="{{ item.name }}">
    </figure>
  </div>
  <div class="card-content" ng-class="{'story-card' : !item.lat}">

    <div class="media">
      <div class="media-left" ng-if="item.flag">
        <figure class="image is-48x48">
          <img src="{{ item.flag }}" alt="{{ item.name }} flag">
        </figure>
      </div>

      <div class="media-content">
        <a ng-if="item.lat" ui-sref="placesShow({ id: item.id })">
          <h2 class="title is-4">{{ item.name }}</h2>
        </a>
        <a ng-if="!item.lat" ui-sref="storiesShow({ id: item.id })">
          <h2 class="title is-4">{{ item.name }}</h2>
        </a>
      </div>
    </div>
  </div>
</div>
