<nav class="navbar">
  <a class="navbar-item"  ui-sref="placesIndex">Home</a>
  <a class="navbar-item" ng-if="!user.isAuthenticated()" ng-click="user.registerShow()">Register</a>
  <a class="navbar-item" ng-if="!user.isAuthenticated()" ui-sref="login">Login</a>

  <div class="dropdown is-hoverable">
    <a class="navbar-item" ui-sref="placesIndex" aria-haspopup="true" aria-controls="dropdown-menu4">Places</a>
    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
      <div class="dropdown-content">
        <div class="dropdown-item">
          <a class="navbar-item" ng-if="user.isAuthenticated()" ui-sref="placesNew">Add Place</a>
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown is-hoverable">
    <a class="navbar-item" ui-sref="storiesIndex" aria-haspopup="true" aria-controls="dropdown-menu4">Stories</a>
    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
      <div class="dropdown-content">
        <div class="dropdown-item">
          <a class="navbar-item" ng-if="user.isAuthenticated()" ui-sref="storiesNew">Add Story</a>
        </div>
      </div>
    </div>
  </div>
</nav>
